In [92]:
import pandas as pd

Read in collapsed county data

In [103]:
collapsed_county_df = pd.read_stata('processed-data/collapsed-county-PPP.dta')

collapsed_county_df

,index,projectcountyname,projectstate,initialapprovalamount,currentapprovalamount,undisbursedamount,jobsreported,payroll_proceed,mortgage_interest_proceed,rent_proceed,refinance_eidl_proceed,health_care_proceed,debt_interest_proceed,forgivenessamount
0,0,,,6.499459e+05,6.499459e+05,0.0,60.0,6.292369e+05,0.000000,2.016400e+04,0.0,0.000000,0.000000,6.134744e+05
1,1,,AE,1.312500e+04,1.312500e+04,0.0,3.0,1.312500e+04,0.000000,0.000000e+00,0.0,0.000000,0.000000,1.319208e+04
2,2,,AK,9.560400e+04,8.560400e+04,0.0,19.0,6.708300e+04,0.000000,1.512500e+04,0.0,0.000000,0.000000,8.636332e+04
3,3,,AL,1.503246e+06,1.503246e+06,0.0,152.0,1.503246e+06,0.000000,0.000000e+00,0.0,0.000000,0.000000,1.503010e+06
4,4,,AZ,7.739508e+05,7.739508e+05,0.0,451.0,6.959628e+05,0.000000,5.671300e+04,0.0,0.000000,0.000000,7.579708e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3271,3271,YUMA,AZ,2.140386e+08,2.139931e+08,0.0,31514.0,2.113358e+08,80695.117188,1.088124e+06,220386.5,110412.000000,145610.000000,2.071703e+08
3272,3272,YUMA,CO,3.504316e+07,3.507220e+07,0.0,3894.0,3.351429e+07,282789.687500,1.694967e+05,0.0,250408.234375,9264.419922,3.505620e+07
3273,3273,ZAPATA,TX,1.150684e+07,1.134254e+07,0.0,1678.0,1.130017e+07,1504.929932,1.125000e+03,500.0,25747.000000,0.000000,1.086531e+07
3274,3274,ZAVALA,TX,6.551153e+06,6.532161e+06,0.0,1235.0,6.417784e+06,6065.990234,2.467500e+04,2725.0,41518.000000,4000.000000,5.856184e+06
3275,3275,ZIEBACH,SD,3.030226e+06,3.065335e+06,0.0,260.0,3.042832e+06,7677.000000,9.710000e+02,0.0,0.000000,0.000000,3.071182e+06

Read in unemployment data

In [104]:
unemployment_df = pd.read_stata("raw-data/UnemploymentFinal.dta")

unemployment_df

,countytitle,county,year,period,unemployment_rate,unemployment,employment,labor_force,countycode,obs_id,countytitle2
0,"Autauga County, Alabama",AUTAUGA,2015,M01,5.6,1431.0,24048.0,25479.0,1001,010012015M01,Alabama
1,"Baldwin County, Alabama",BALDWIN,2015,M01,6.4,5432.0,78879.0,84311.0,1003,010032015M01,Alabama
2,"Barbour County, Alabama",BARBOUR,2015,M01,10.0,860.0,7757.0,8617.0,1005,010052015M01,Alabama
3,"Bibb County, Alabama",BIBB,2015,M01,7.0,602.0,7943.0,8545.0,1007,010072015M01,Alabama
4,"Blount County, Alabama",BLOUNT,2015,M01,5.9,1423.0,22828.0,24251.0,1009,010092015M01,Alabama
...,...,...,...,...,...,...,...,...,...,...,...
321930,"Yauco Municipio, Puerto Rico",YAUCO,2022,M05,10.3,1072.0,9345.0,10417.0,72153,721532022M05,Puerto Rico
321931,"Yauco Municipio, Puerto Rico",YAUCO,2022,M06,9.4,960.0,9202.0,10162.0,72153,721532022M06,Puerto Rico
321932,"Yauco Municipio, Puerto Rico",YAUCO,2022,M07,9.0,897.0,9090.0,9987.0,72153,721532022M07,Puerto Rico
321933,"Yauco Municipio, Puerto Rico",YAUCO,2022,M08,9.4,967.0,9309.0,10276.0,72153,721532022M08,Puerto Rico
321934,"Yauco Municipio, Puerto Rico",YAUCO,2022,M09,NaN,NaN,NaN,NaN,72153,721532022M09,Puerto Rico

Clean Data

In [105]:
states_ref = {' Alabama': 'AL', 
          ' Kentucky': 'KY', 
          ' Ohio': 'OH',
          ' Alaska': 'AK',
          ' Louisiana': 'LA',
          ' Oklahoma': 'OK',
          ' Arizona': 'AZ',
          ' Maine': 'ME',
          ' Oregon':	'OR',
          ' Arkansas': 'AR',	
          ' Maryland': 'MD',	
          ' Pennsylvania': 'PA',
          ' American Samoa': 'AS',	
          ' Massachusetts': 'MA',	
          ' Puerto Rico': 'PR',
          ' California': 'CA',	
          ' Michigan': 'MI',	
          ' Rhode Island': 'RI',
          ' Colorado': 'CO',	
          ' Minnesota': 'MN',	
          ' South Carolina': 'SC',
          ' Connecticut': 'CT',	
          ' Mississippi': 'MS',	
          ' South Dakota': 'SD',
          ' Delaware':	'DE',	
          ' Missouri':	'MO',	
          ' Tennessee':	'TN',
          ' District of Columbia':	'DC',	
          ' Montana':	'MT',	
          ' Texas':	'TX',
          ' Florida':	'FL',	
          ' Nebraska':	'NE',	
          ' Trust Territories':	'TT',
          ' Georgia':	'GA',	
          ' Nevada':	'NV',	
          ' Utah':	'UT',
          ' Guam':	'GU',
          ' New Hampshire':	'NH',	
          ' Vermont':	'VT',
          ' Hawaii':	'HI',
          ' New Jersey':	'NJ',	
          ' Virginia':	'VA',
          ' Idaho':	'ID',	
          ' New Mexico':	'NM',	
          ' Virgin Islands':	'VI',
          ' Illinois':	'IL',	
          ' New York':	'NY',	
          ' Washington':	'WA',
          ' Indiana':	'IN',	
          ' North Carolina':	'NC',	
          ' West Virginia':	'WV',
          ' Iowa':	'IA',	
          ' North Dakota':	'ND',	
          ' Wisconsin':	'WI',
          ' Kansas':	'KS',	
          ' Northern Mariana Islands':	'MP',	
          ' Wyoming': 'WY'}

In [106]:
for each in states_ref:
    unemployment_df = unemployment_df.replace([each], states_ref[each])

def clean(x):
    return x[:-1]

unemployment_df['county'] = unemployment_df['county'].apply(clean)

unemployment_df

,countytitle,county,year,period,unemployment_rate,unemployment,employment,labor_force,countycode,obs_id,countytitle2
0,"Autauga County, Alabama",AUTAUGA,2015,M01,5.6,1431.0,24048.0,25479.0,1001,010012015M01,AL
1,"Baldwin County, Alabama",BALDWIN,2015,M01,6.4,5432.0,78879.0,84311.0,1003,010032015M01,AL
2,"Barbour County, Alabama",BARBOUR,2015,M01,10.0,860.0,7757.0,8617.0,1005,010052015M01,AL
3,"Bibb County, Alabama",BIBB,2015,M01,7.0,602.0,7943.0,8545.0,1007,010072015M01,AL
4,"Blount County, Alabama",BLOUNT,2015,M01,5.9,1423.0,22828.0,24251.0,1009,010092015M01,AL
...,...,...,...,...,...,...,...,...,...,...,...
321930,"Yauco Municipio, Puerto Rico",YAUCO,2022,M05,10.3,1072.0,9345.0,10417.0,72153,721532022M05,PR
321931,"Yauco Municipio, Puerto Rico",YAUCO,2022,M06,9.4,960.0,9202.0,10162.0,72153,721532022M06,PR
321932,"Yauco Municipio, Puerto Rico",YAUCO,2022,M07,9.0,897.0,9090.0,9987.0,72153,721532022M07,PR
321933,"Yauco Municipio, Puerto Rico",YAUCO,2022,M08,9.4,967.0,9309.0,10276.0,72153,721532022M08,PR
321934,"Yauco Municipio, Puerto Rico",YAUCO,2022,M09,NaN,NaN,NaN,NaN,72153,721532022M09,PR

Merge with collapsed county data

In [112]:
import numpy as np
hashmap = {}

for index, row in collapsed_county_df.iterrows():
    combined_key = row['projectcountyname'] + row['projectstate']
    hashmap[combined_key] = row['currentapprovalamount']

    

count = 0
unemployment_df = unemployment_df.assign(ppp=np.nan)
for index, row in unemployment_df.iterrows():
    combined_key = row['county'] + row['countytitle2']
    if combined_key in hashmap:
        count+=1
        ppp_amount = hashmap[combined_key]
        unemployment_df.at[index, 'ppp'] = ppp_amount
    
print(count)    
collapsed_county_df
unemployment_df

309200

,countytitle,county,year,period,unemployment_rate,unemployment,employment,labor_force,countycode,obs_id,countytitle2,ppp
0,"Autauga County, Alabama",AUTAUGA,2015,M01,5.6,1431.0,24048.0,25479.0,1001,010012015M01,AL,53930948.0
1,"Baldwin County, Alabama",BALDWIN,2015,M01,6.4,5432.0,78879.0,84311.0,1003,010032015M01,AL,476783904.0
2,"Barbour County, Alabama",BARBOUR,2015,M01,10.0,860.0,7757.0,8617.0,1005,010052015M01,AL,33516552.0
3,"Bibb County, Alabama",BIBB,2015,M01,7.0,602.0,7943.0,8545.0,1007,010072015M01,AL,27575024.0
4,"Blount County, Alabama",BLOUNT,2015,M01,5.9,1423.0,22828.0,24251.0,1009,010092015M01,AL,43467880.0
...,...,...,...,...,...,...,...,...,...,...,...,...
321930,"Yauco Municipio, Puerto Rico",YAUCO,2022,M05,10.3,1072.0,9345.0,10417.0,72153,721532022M05,PR,12019253.0
321931,"Yauco Municipio, Puerto Rico",YAUCO,2022,M06,9.4,960.0,9202.0,10162.0,72153,721532022M06,PR,12019253.0
321932,"Yauco Municipio, Puerto Rico",YAUCO,2022,M07,9.0,897.0,9090.0,9987.0,72153,721532022M07,PR,12019253.0
321933,"Yauco Municipio, Puerto Rico",YAUCO,2022,M08,9.4,967.0,9309.0,10276.0,72153,721532022M08,PR,12019253.0
321934,"Yauco Municipio, Puerto Rico",YAUCO,2022,M09,NaN,NaN,NaN,NaN,72153,721532022M09,PR,12019253.0

drop NA

In [113]:
unemployment_df.dropna(subset=['ppp'])
unemployment_df

,countytitle,county,year,period,unemployment_rate,unemployment,employment,labor_force,countycode,obs_id,countytitle2,ppp
0,"Autauga County, Alabama",AUTAUGA,2015,M01,5.6,1431.0,24048.0,25479.0,1001,010012015M01,AL,53930948.0
1,"Baldwin County, Alabama",BALDWIN,2015,M01,6.4,5432.0,78879.0,84311.0,1003,010032015M01,AL,476783904.0
2,"Barbour County, Alabama",BARBOUR,2015,M01,10.0,860.0,7757.0,8617.0,1005,010052015M01,AL,33516552.0
3,"Bibb County, Alabama",BIBB,2015,M01,7.0,602.0,7943.0,8545.0,1007,010072015M01,AL,27575024.0
4,"Blount County, Alabama",BLOUNT,2015,M01,5.9,1423.0,22828.0,24251.0,1009,010092015M01,AL,43467880.0
...,...,...,...,...,...,...,...,...,...,...,...,...
321930,"Yauco Municipio, Puerto Rico",YAUCO,2022,M05,10.3,1072.0,9345.0,10417.0,72153,721532022M05,PR,12019253.0
321931,"Yauco Municipio, Puerto Rico",YAUCO,2022,M06,9.4,960.0,9202.0,10162.0,72153,721532022M06,PR,12019253.0
321932,"Yauco Municipio, Puerto Rico",YAUCO,2022,M07,9.0,897.0,9090.0,9987.0,72153,721532022M07,PR,12019253.0
321933,"Yauco Municipio, Puerto Rico",YAUCO,2022,M08,9.4,967.0,9309.0,10276.0,72153,721532022M08,PR,12019253.0
321934,"Yauco Municipio, Puerto Rico",YAUCO,2022,M09,NaN,NaN,NaN,NaN,72153,721532022M09,PR,12019253.0

copy to stata file

In [114]:
unemployment_df.to_stata('processed-data/merged-county-unemployment.dta')